@font-face {
 font-family: 'GentiumPlus-R';
 src: url('GentiumPlus-R.ttf');
}
/*styles for Dictionary words*/
.word, .images_list{
    margin: 30px 0;
    padding: 20px 20px 40px 20px;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    line-height: 1.3;
    min-height: 200px;
}
.word:first-of-type{
	margin-top: 0;	
}
.word .wBody{
	font-family: 'GentiumPlus-R';
    margin: 5px 0 0 50px;
    font-size: 1.1em;
}
.vnum{
	float: right;
	font-size: 1.2em;
}
.word .wBody ol{
     padding:0;
  counter-reset:item;
}
.word .wBody ol>li {
  margin:0;
  padding:0 0 0.7em 2em;
  text-indent:-1.6em;
  list-style-type:none;
  counter-increment:item;
}
.word .wBody ol>li:before {
  display:inline-block;	
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item) ".";
}
.word .wBody .lower-alpha{
  padding:0;
  list-style-type:none;
  counter-reset:item;
}
.word .wBody .lower-alpha>li {
  margin:0;
  padding:0 0 0.7em 2em;
  text-indent:-1.6em;
  counter-increment:item;
}

.word .wBody .lower-alpha>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item, lower-alpha) ".";
}
.word .wBody .lower-roman{
  padding:0;
  list-style-type:none;
  counter-reset:item;
}

.word .wBody .lower-roman>li {
  margin:0;
  padding:0 0 0.7em 2em;
  text-indent:-1.6em;
  counter-increment:item;
}

.word .wBody .lower-roman>li:before {
  display:inline-block;
  width:1.5em;
  padding-right:0.5em;
  font-weight:bold;
  text-align:right;
  content:counter(item, lower-roman) ".";
}
.unlist{
	list-style-type: none;
}

.word .wBody p{
    line-height: 1.5;
}
.whead .engWord{
	font-family: 'GentiumPlus-R';
	font-size: 1.5em !important;
    font-weight: bold;
}
.clr1{
  color: #3372df !important;
}
.kanWord{
	font-family: 'GentiumPlus-R';
	font-weight: bold;
    font-size: 1.1em;
}
.grammarLabel{
	font-family: 'GentiumPlus-R';
    font-style: italic;
    font-size: 1.1em;
    margin: 10px 0px 5px 15px;
    color: #950C0C;
    padding-bottom: 5px;
    border-bottom: 1px solid #DEDEDE;        
}
.expl{
	font-family: 'GentiumPlus-R';
    font-size: 1.1em;
    margin: 10px 0px 5px 15px;
    padding-bottom: 5px;
}

.eng{
	font-family: 'GentiumPlus-R';
	font-size:1.1em;
}

.engit{
	font-family: 'GentiumPlus-R';
	font-style: italic;	
	font-size:1.1em;
}

p.bracket_grp{
	font-size: 0.8em;
    margin: 0px;
}

.crossref{
	font-family: 'GentiumPlus-R';
	color: #3372df;
}
.seecrossref{
	font-family: 'GentiumPlus-R';
	color: #3372df;
}
.seecrossref a:hover{
	border-bottom: 1px dotted #3372df;
}
.seeinnercrossref{
	font-family: 'GentiumPlus-R';
	color: #3372df;
}
.kanWord img{
	vertical-align: bottom;
}
.img_display{
	margin-top: 50px;
	text-align: center;
}
.fig_caption{
	color: #3372df;	
}
.img_display img{
	padding:1px;
	border:1px solid #021a40;
}
div.seealso{
	padding: 0.2em 0em 0.2em 1.5em;
	background-color: #F9C26F;
	margin-bottom: 1em;
}
.seealsoword{
	font-family: 'GentiumPlus-R';
	font-style: italic;
	font-weight: bold;
	color: #3372df;
    margin-left: 3px;
}
.crossref a img{
	display: block;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.seecrossref a img{
	float: right;
	vertical-align: middle;
}

.alpha_link {
	font-family: 'GentiumPlus-R';
	font-size: 2em;
	padding-right: 1.5em;
	color: #3372df;
}

.alpha_link1 {
	font-family: 'GentiumPlus-R';
	font-size: 2em;
	padding-right: 1.5em;
	color: #CCCCCC;
}

.alpha_list{
	margin-top: 3em;
}

.label_word{
	font-size: 0.8em;
}

.highlight{
	background: #F9C26F;
}

h1{
	font-size: 1.5em !important;
	padding-bottom: 1em;
}
.boldText{
	font-weight: bold;
}
em{
    font-style: italic;
}
.italicBold{
	color: #950C0C;
	font-style: italic;
	font-weight: bold;
}
.italicText{
	color: #950C0C;
	font-style: italic;
}
.poem{
	font-style: italic;
}
.normalText{
	color: #950C0C;
}

.fntsymbol{
	color: red;
}
dl dd{
	padding-left: 2.5em;
	padding-bottom: 0.7em;
}
.FootNote{
	border-top: 1px solid #000;
	font-size: 0.9em;
}
table tr td{
	padding: 5px;
}
.figCaption{
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}
.img-circle{
	border: 2px solid #363636;
}
.img-thumbnail{
	margin-top: 5em;
}
.img-responsive{
	margin-top: 5em;
}
.linkword{
/*
	border-bottom: 1px dotted #CCC;
*/
	border-bottom: 1px dotted red;
}
